# Dependencies
node_modules/

# Storybook build
storybook-static/

# Environment variables
.env

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vitest
.vitest-cache/

# TypeScript
*.tsbuildinfo

coverage/